* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background-image: url(https://picsum.photos/id/235/1920/1080);
  background-size: cover;
  background-color: rgb(211, 211, 211);
  background-repeat: no-repeat;
  min-height: calc(100vh - 4rem);
}

.navbar {
  height: 4rem;
}

.container {
  padding: 5rem;
  .col {
    margin: 0.5rem;
  }
  h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 700;
  }
}
